.container {
  position: relative;
  width: 360px;
  height: 360px;

  .box {
    margin: auto;
    // position: absolute;
    // top: 0;
    // left: 0;
    // transform: translate(-50%, -50%);
    // width: 230px;
    // height: 230px;
    font-size: 300px;
    width: 340px;
    height: 340px;
    text-align: center;
    animation: rotate .4s infinite linear;
    // background-color: #333;
    background-image: url(/p.png);
    background-position: center center;
    background-size: 100% 100%;
    // margin: 50px auto;

  }
}


@-webkit-keyframes rotate {

  from {

    -webkit-transform: rotate(0deg);

  }

  to {

    -webkit-transform: rotate(360deg);

  }

}

@keyframes rotate {

  from {

    -webkit-transform: rotate(0deg);

  }

  to {

    -webkit-transform: rotate(360deg);

  }

}